.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  .hidden {
    display: none;
  }

  .title-section {
    height: 8%;
    text-align: center;
    width: 100vw;
    border: 3px solid yellow;
  }

  .main {
    display: flex;
    height: 90%;
  }

  .left-section {
    width: 45rem;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;

    .map-container {
      position: relative;
      width: 100%;
      height: 25rem;
        img {
        width: 651px;
      }
    }

    .info-container {
      height: 6rem;
      width: 90%;
      border: 1px solid blue;
    }
  }

  .right-section {
    width: 20rem;
    height: 100%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid pink;
  }


}


